* {
  font-family: Lora, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: white;
  color: black;
  width: 100vw;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: white;
  z-index: 100;
}

.navbar span {
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 0.2rem;
  margin: 0.5rem;
}

.navbar a:hover {
  border-bottom: 2px solid white;
}

.navbar .social {
  margin-right: 5%;
}

.navbar .social a {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.navbar .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

.navbar .mainMenu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  justify-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .mainMenu .part {
  margin-left: 10%;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.navbar .mainMenu .closeMenu {
  display: none;
}

#hero {
  height: 100vh;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/bg.jpg);
}

#hero h1 {
  font-size: 4rem;
  margin: 0 1.5rem;
  z-index: 20;
}

#hero p {
  font-size: 1.2rem;
  margin: 1.5rem;
}

#hero .btn {
  margin: 1.5rem;
  color: white;
  background-color: black;
  font-size: 1.8rem;
  padding: 10px;
  border-radius: 25px;
}

#hero .resume_button {
  display: inline-block;
}

#hero .resume_button:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#hero .image {
  z-index: 0;
}

#hero img {
  max-width: 50rem;
  z-index: 0;
}

@-webkit-keyframes card-animation {
  from {
    opacity: 0;
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);
  }
  to {
    opacity: 1;
    position: absolute;
    -webkit-transform: translateY(-103%);
            transform: translateY(-103%);
    background-color: black;
    color: white;
  }
}

@keyframes card-animation {
  from {
    opacity: 0;
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);
  }
  to {
    opacity: 1;
    position: absolute;
    -webkit-transform: translateY(-103%);
            transform: translateY(-103%);
    background-color: black;
    color: white;
  }
}

#project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#project h1 {
  margin: 2rem;
  font-size: 4rem;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-column: span 2;
}

#project .wrapper {
  width: 700px;
  height: 350px;
  margin: 1.5rem;
  border-radius: 15px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  overflow: hidden;
  box-shadow: 0px 0px 41px 11px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 0px 0px 41px 11px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 0px 41px 11px rgba(0, 0, 0, 0.28);
}

#project .wrapper:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

#project .wrapper:hover .info {
  height: auto;
  -webkit-animation: card-animation 0.5s ease-out forwards;
          animation: card-animation 0.5s ease-out forwards;
}

#project .wrapper .card {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

#project .wrapper .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  border-radius: 15px;
}

#project .wrapper .card .info {
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#project .wrapper .card .info h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: lighter;
}

#project .wrapper .card .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1.2rem 0 0 0;
}

#project .wrapper .card .buttons .btn {
  padding: 10px;
  text-decoration: none;
  border: 2px solid white;
  color: white;
  border-radius: 30px;
}

#project .wrapper .card .buttons .btn:hover {
  background-color: grey;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#tech {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tech h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

#tech .fab {
  padding: 1rem;
  font-size: 5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#tech .fab:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#tech .fa-html5 {
  color: #f54b4b;
}

#tech .fa-css3-alt {
  color: #ffda33;
}

#tech .fa-js-square {
  color: #ffae00;
}

#tech .fa-sass {
  color: #c400c4;
}

#tech .fa-react {
  color: #3333ff;
}

#about {
  background-color: black;
  color: white;
}

#about h1 {
  margin: 2rem;
}

#about p,
#about a {
  margin: 0 3rem;
}

#about .End {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 1.1rem;
}

@media (max-width: 800px) {
  body {
    background-color: white;
    color: black;
    width: 100vw;
    overflow-x: hidden;
  }
  .container {
    width: 100vw;
    overflow-x: hidden;
  }
  .navbar {
    position: fixed;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: black;
    color: white;
    z-index: 100;
  }
  .navbar span {
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }
  .navbar a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 0.2rem;
    margin: 0.5rem;
  }
  .navbar a:hover {
    border-bottom: 2px solid white;
  }
  .navbar .social a {
    margin: 0;
    padding: 0.5rem;
  }
  .navbar .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }
  .navbar .mainMenu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    justify-self: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .mainMenu .part {
    margin-left: 10%;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .navbar .mainMenu .closeMenu {
    display: none;
  }
  #hero {
    height: 100vh;
    min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(../images/bg.jpg);
  }
  #hero h1 {
    font-size: 4rem;
    margin-left: 1.5rem;
    z-index: 20;
  }
  #hero p {
    font-size: 1.2rem;
    margin: 1.5rem;
  }
  #hero .image {
    z-index: 0;
  }
  #hero img {
    display: none;
    max-width: 50rem;
    z-index: 0;
  }
  @-webkit-keyframes card-animation {
    from {
      opacity: 0;
      -webkit-transform: translateY(-80%);
              transform: translateY(-80%);
    }
    to {
      opacity: 1;
      position: absolute;
      -webkit-transform: translateY(-103%);
              transform: translateY(-103%);
      background-color: black;
      color: white;
    }
  }
  @keyframes card-animation {
    from {
      opacity: 0;
      -webkit-transform: translateY(-80%);
              transform: translateY(-80%);
    }
    to {
      opacity: 1;
      position: absolute;
      -webkit-transform: translateY(-103%);
              transform: translateY(-103%);
      background-color: black;
      color: white;
    }
  }
  #project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #project h1 {
    margin: 2rem;
    font-size: 4rem;
    font-weight: bold;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #project .wrapper {
    width: 500px;
    height: 282px;
    margin: 1.5rem;
    border-radius: 15px;
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    overflow: hidden;
    box-shadow: 0px 0px 41px 11px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 0px 0px 41px 11px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 0px 41px 11px rgba(0, 0, 0, 0.28);
  }
  #project .wrapper:hover {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  #project .wrapper:hover .info {
    height: auto;
    -webkit-animation: card-animation 0.5s ease-out forwards;
            animation: card-animation 0.5s ease-out forwards;
  }
  #project .wrapper .card {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  #project .wrapper .card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
  #project .wrapper .card .info {
    width: 100%;
    padding: 1rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  #project .wrapper .card .info h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: lighter;
  }
  #tech {
    margin: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #tech h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  #tech .fab {
    padding: 1rem;
    font-size: 5rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #tech .fab:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  #tech .fa-html5 {
    color: #f54b4b;
  }
  #tech .fa-css3-alt {
    color: #ffda33;
  }
  #tech .fa-js-square {
    color: #ffae00;
  }
  #tech .fa-sass {
    color: #c400c4;
  }
  #tech .fa-react {
    color: #3333ff;
  }
  #about {
    background-color: black;
    color: white;
  }
  #about h1 {
    margin: 2rem;
  }
  #about p,
  #about a {
    margin: 0 3rem;
  }
  #about .End {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 1.1rem;
  }
}

@media (max-width: 600px) {
  body {
    background-color: white;
    color: black;
    width: 100vw;
    overflow-x: hidden;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navbar .social {
    margin: 0;
  }
  .navbar .social a:hover {
    color: #2e2eff;
  }
  .navbar span {
    font-size: 2rem;
  }
  .navbar .openMenu {
    display: block;
    font-size: 1.2rem;
  }
  .navbar .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #000;
    -webkit-transition: top 1s ease;
    transition: top 1s ease;
    display: none;
  }
  .navbar .mainMenu .part {
    margin: 0;
  }
  .navbar .mainMenu .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
    margin-top: 150px;
  }
  .navbar .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  #hero {
    height: 100vh;
    min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(../images/bg.jpg);
  }
  #hero h1 {
    font-size: 3rem;
    margin-left: 1.5rem;
    z-index: 20;
  }
  #hero p {
    font-size: 1.2rem;
    margin: 1.5rem;
  }
  #hero .image {
    z-index: 0;
  }
  #hero img {
    display: none;
    max-width: 50rem;
    z-index: 0;
  }
  @-webkit-keyframes card-animation {
    from {
      opacity: 0;
      -webkit-transform: translateY(-80%);
              transform: translateY(-80%);
    }
    to {
      opacity: 1;
      position: absolute;
      -webkit-transform: translateY(-103%);
              transform: translateY(-103%);
      background-color: black;
      color: white;
    }
  }
  @keyframes card-animation {
    from {
      opacity: 0;
      -webkit-transform: translateY(-80%);
              transform: translateY(-80%);
    }
    to {
      opacity: 1;
      position: absolute;
      -webkit-transform: translateY(-103%);
              transform: translateY(-103%);
      background-color: black;
      color: white;
    }
  }
  #project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #project h1 {
    margin: 2rem;
    font-size: 3rem;
    font-weight: bold;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #project .wrapper {
    width: 300px;
    height: 169px;
    margin: 1.5rem;
    border-radius: 15px;
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    overflow: hidden;
    box-shadow: 0px 0px 41px 11px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 0px 0px 41px 11px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 0px 41px 11px rgba(0, 0, 0, 0.28);
  }
  #project .wrapper:hover {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  #project .wrapper:hover .info {
    height: auto;
    -webkit-animation: card-animation 0.5s ease-out forwards;
            animation: card-animation 0.5s ease-out forwards;
  }
  #project .wrapper .card {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  #project .wrapper .card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
  #project .wrapper .card .info {
    width: 100%;
    padding: 1rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  #project .wrapper .card .info h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: lighter;
  }
  #tech {
    margin: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #tech h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  #tech .fab {
    padding: 1rem;
    font-size: 3rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #tech .fab:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  #tech .fa-html5 {
    color: #f54b4b;
  }
  #tech .fa-css3-alt {
    color: #ffda33;
  }
  #tech .fa-js-square {
    color: #ffae00;
  }
  #tech .fa-sass {
    color: #c400c4;
  }
  #tech .fa-react {
    color: #3333ff;
  }
  #about {
    background-color: black;
    color: white;
  }
  #about h1 {
    margin: 2rem;
  }
  #about p,
  #about a {
    margin: 0 3rem;
  }
  #about .End {
    margin-top: 2rem;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 1.1rem;
  }
}
/*# sourceMappingURL=style.css.map */