$bgc: white;
$textc: black;


* {
    font-family: Lora, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: $bgc;
    color: $textc;
    width: 100vw;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $textc;
    color: $bgc;
    z-index: 100;

    span {
        color: $bgc;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
    }

    a {
        text-decoration: none;
        color: $bgc;
        padding: 0.5rem 0.2rem;
        margin: 0.5rem;

        &:hover {
            border-bottom: 2px solid $bgc;
            //background-color: rgba(138, 138, 138, 0.5);
        }
    }

    .social {
        a {
            margin: 0;
            padding: 0.5rem;
        }
    }

    .openMenu {
        font-size: 2rem;
        margin: 20px;
        display: none;
        cursor: pointer;
    }

    .mainMenu {

        display: inline-flex;
        flex-grow: 1;
        justify-self: center;
        justify-content: space-around;
        align-items: center;

        .part {
            margin-left: 10%;
            justify-self: center;
            flex-grow: 2;
        }

        .closeMenu {
            display: none;
        }
    }

}

#hero {
    height: 100vh;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bg.jpg);
    // background-repeat: no-repeat;
    // background-position: 90%;
    // background-size: 50rem;

    h1 {
        font-size: 4rem;
        margin-left: 1.5rem;
        z-index: 20;
    }

    p {
        font-size: 1.2rem;
        margin: 1.5rem;
    }

    .image{
        z-index: 0;
    }
    img {
        max-width: 50rem;
        z-index: 0;
    }
}

@keyframes card-animation {
    from {
        opacity: 0;
        transform: translateY(-80%);
    }

    to {
        opacity: 1;
        position: absolute;
        transform: translateY(-103%);
        background-color: black;
        color: white;
    }
}

#project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    // background-color: blue;

    h1 {
        margin: 2rem;
        font-size: 4rem;
        font-weight: bold;
        align-self: center;
        justify-self: center;
        grid-column: span 2;
    }

    .wrapper {
        width: 700px;
        height: 350px;
        // border: 1px solid black;
        margin: 1.5rem;
        border-radius: 15px;
        transition: 0.4s ease-out;
        overflow: hidden;
        
        box-shadow: 0px 0px 41px 11px rgba(0, 0, 0, 0.28);
        -webkit-box-shadow: 0px 0px 41px 11px rgba(0, 0, 0, 0.28);
        -moz-box-shadow: 0px 0px 41px 11px rgba(0, 0, 0, 0.28);

        &:hover {
            .info {
                height: auto;
                animation: card-animation 0.5s ease-out forwards;
            }

            transform: translateY(-15px);
        }

        .card {
            // border: 2px solid red;
            width: 100%;
            height: 100%;
            border-radius: 15px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                //position: absolute;
                top: 0;
                left: 0;
                border-radius: 15px;
            }

            .info {
                h1 {
                    margin: 0;
                    font-size: 3rem;
                    font-weight: lighter;
                }
                width: 100%;
                padding: 1rem;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }

            .buttons {
                display: flex;
                justify-content: space-around;
                margin: 1.2rem 0 0 0;
                .btn {
                    padding: 10px;
                    text-decoration: none;
                    border: 2px solid $bgc;
                    color: $bgc;
                    border-radius: 30px;

                    &:hover {
                        background-color: grey;
                        transform: scale(0.95);
                    }
                }
            }
        }
    }
}


#tech{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    .fab{
        padding: 1rem;
        font-size: 5rem;
        transition: 0.3s;
        &:hover {
            transform: scale(1.2);
        }
    }

    .fa-html5{
        color: rgb(245, 75, 75);
    }

    .fa-css3-alt{
        color: rgb(255, 218, 51);
    }

    .fa-js-square{
        color: rgb(255, 174, 0);
    }

    .fa-sass{
        color: rgb(196, 0, 196);
    }

    .fa-react {
        color: rgb(51, 51, 255)
    }
}

#about {
    background-color: $textc;
    color: $bgc;
    h1{
        margin: 2rem;
    }
    p, a{
        margin: 0 3rem;
    }

    .End{
        font-size: 1rem;
        text-align: center;
        padding-bottom: 1.1rem;
    }
}

//Tablet

@media (max-width: 800px){
    body {
        background-color: $bgc;
        color: $textc;
        width: 100vw;
        overflow-x: hidden;
    }

    .container{
        width: 100vw;
        overflow-x: hidden;
    }

    .navbar {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $textc;
        color: $bgc;
        z-index: 100;
    
        span {
            color: $bgc;
            padding: 0.5rem 1rem;
            font-size: 1.5rem;
        }
    
        a {
            text-decoration: none;
            color: $bgc;
            padding: 0.5rem 0.2rem;
            margin: 0.5rem;
    
            &:hover {
                border-bottom: 2px solid $bgc;
                //background-color: rgba(138, 138, 138, 0.5);
            }
        }
    
        .social {
            a {
                margin: 0;
                padding: 0.5rem;
            }
        }
    
        .openMenu {
            font-size: 2rem;
            margin: 20px;
            display: none;
            cursor: pointer;
        }
    
        .mainMenu {
    
            display: inline-flex;
            flex-grow: 1;
            justify-self: center;
            justify-content: space-around;
            align-items: center;
    
            .part {
                margin-left: 10%;
                justify-self: center;
                flex-grow: 2;
            }
    
            .closeMenu {
                display: none;
            }
        }
    
    }
    
    #hero {
        height: 100vh;
        min-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../images/bg.jpg);
        // background-repeat: no-repeat;
        // background-position: 90%;
        // background-size: 50rem;
    
        h1 {
            font-size: 4rem;
            margin-left: 1.5rem;
            z-index: 20;
        }
    
        p {
            font-size: 1.2rem;
            margin: 1.5rem;
        }
    
        .image{
            z-index: 0;
        }
        img {
            display: none;
            max-width: 50rem;
            z-index: 0;
        }
    }
    
    @keyframes card-animation {
        from {
            opacity: 0;
            transform: translateY(-80%);
        }
    
        to {
            opacity: 1;
            position: absolute;
            transform: translateY(-103%);
            background-color: black;
            color: white;
        }
    }
    
    #project {
        display: flex;
        flex-direction: column;
    
        h1 {
            margin: 2rem;
            font-size: 4rem;
            font-weight: bold;
            align-self: center;
            justify-self: center;
        }
    
        .wrapper {
            width: 500px;
            height: 282px;
            // border: 1px solid black;
            margin: 1.5rem;
            border-radius: 15px;
            transition: 0.4s ease-out;
            overflow: hidden;
            
            box-shadow: 0px 0px 41px 11px rgba(0, 0, 0, 0.28);
            -webkit-box-shadow: 0px 0px 41px 11px rgba(0, 0, 0, 0.28);
            -moz-box-shadow: 0px 0px 41px 11px rgba(0, 0, 0, 0.28);
    
            &:hover {
                .info {
                    height: auto;
                    animation: card-animation 0.5s ease-out forwards;
                }
    
                transform: translateY(-15px);
            }
    
            .card {
                // border: 2px solid red;
                width: 100%;
                height: 100%;
                border-radius: 15px;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    //position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 15px;
                }
    
                .info {
                    h1 {
                        margin: 0;
                        font-size: 3rem;
                        font-weight: lighter;
                    }
                    width: 100%;
                    padding: 1rem;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                }
            }
        }
    }
    
    
    #tech{
        margin: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 4rem;
            margin-bottom: 2rem;
        }
        .fab{
            padding: 1rem;
            font-size: 5rem;
            transition: 0.3s;
            &:hover {
                transform: scale(1.2);
            }
        }
    
        .fa-html5{
            color: rgb(245, 75, 75);
        }
    
        .fa-css3-alt{
            color: rgb(255, 218, 51);
        }
    
        .fa-js-square{
            color: rgb(255, 174, 0);
        }
    
        .fa-sass{
            color: rgb(196, 0, 196);
        }
    
        .fa-react {
            color: rgb(51, 51, 255)
        }
    }
    
    #about {
        background-color: $textc;
        color: $bgc;
        h1{
            margin: 2rem;
        }
        p, a{
            margin: 0 3rem;
        }
    
        .End{
            font-size: 1rem;
            text-align: center;
            padding-bottom: 1.1rem;
        }
    }
}


@media (max-width: 600px){
    body {
        background-color: $bgc;
        color: $textc;
        width: 100vw;
        overflow-x: hidden;
    }
    
    .navbar {
        display: flex;
        justify-content: space-around;

        span {
            font-size: 2rem;
        }

        .openMenu {
            display: block;
            font-size: 1.2rem;
        }

        .mainMenu {
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 10;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #000;
            transition: top 1s ease;
            display: none;

            .links{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                margin-top: 150px;
            }

            .closeMenu {
                display: block;
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
    }
    
    #hero {
        height: 100vh;
        min-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../images/bg.jpg);
        // background-repeat: no-repeat;
        // background-position: 90%;
        // background-size: 50rem;
    
        h1 {
            font-size: 3rem;
            margin-left: 1.5rem;
            z-index: 20;
        }
    
        p {
            font-size: 1.2rem;
            margin: 1.5rem;
        }
    
        .image{
            z-index: 0;
        }
        img {
            display: none;
            max-width: 50rem;
            z-index: 0;
        }
    }
    
    @keyframes card-animation {
        from {
            opacity: 0;
            transform: translateY(-80%);
        }
    
        to {
            opacity: 1;
            position: absolute;
            transform: translateY(-103%);
            background-color: black;
            color: white;
        }
    }
    
    #project {
        display: flex;
        flex-direction: column;
    
        h1 {
            margin: 2rem;
            font-size: 3rem;
            font-weight: bold;
            align-self: center;
            justify-self: center;
        }
    
        .wrapper {
            width: 300px;
            height: 169px;
            // border: 1px solid black;
            margin: 1.5rem;
            border-radius: 15px;
            transition: 0.4s ease-out;
            overflow: hidden;
            
            box-shadow: 0px 0px 41px 11px rgba(0, 0, 0, 0.28);
            -webkit-box-shadow: 0px 0px 41px 11px rgba(0, 0, 0, 0.28);
            -moz-box-shadow: 0px 0px 41px 11px rgba(0, 0, 0, 0.28);
    
            &:hover {
                .info {
                    height: auto;
                    animation: card-animation 0.5s ease-out forwards;
                }
    
                transform: translateY(-15px);
            }
    
            .card {
                // border: 2px solid red;
                width: 100%;
                height: 100%;
                border-radius: 15px;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    //position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 15px;
                }
    
                .info {
                    h1 {
                        margin: 0;
                        font-size: 3rem;
                        font-weight: lighter;
                    }
                    width: 100%;
                    padding: 1rem;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                }
            }
        }
    }
    
    
    #tech{
        margin: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 3rem;
            margin-bottom: 2rem;
        }
        .fab{
            padding: 1rem;
            font-size: 3rem;
            transition: 0.3s;
            &:hover {
                transform: scale(1.2);
            }
        }
    
        .fa-html5{
            color: rgb(245, 75, 75);
        }
    
        .fa-css3-alt{
            color: rgb(255, 218, 51);
        }
    
        .fa-js-square{
            color: rgb(255, 174, 0);
        }
    
        .fa-sass{
            color: rgb(196, 0, 196);
        }
    
        .fa-react {
            color: rgb(51, 51, 255)
        }
    }
    
    #about {
        background-color: $textc;
        color: $bgc;
        h1{
            margin: 2rem;
        }
        p, a{
            margin: 0 3rem;
        }
    
        .End{
            margin-top: 2rem;
            font-size: 1rem;
            text-align: center;
            padding-bottom: 1.1rem;
        }
    }
}